info:
  name: endpoint-spec
  type: http
  seq: 3

http:
  method: PUT
  url: "{{tenantUrl}}/api/api-specifications/:id"
  headers:
    - name: Accept
      value: application/vnd.hedtech.integration.endpoint-specifications.v1+json
    - name: Content-Type
      value: application/vnd.hedtech.integration.endpoint-specifications.v1+json
  params:
    - name: id
      value: ""
      type: path
  body:
    type: json
    data: |-
      {
        "components": {
          "securitySchemes": {
            "BearerAuth": {
              "scheme": "bearer",
              "type": "http"
            }
          }
        },
        "servers": [
          {
            "description": "Ethos Integration",
            "url": "https://integrate.elluciancloud.com.au/api"
          }
        ],
        "openapi": "3.0.0",
        "paths": {
          "/x-student-term-codes": {
            "post": {
              "summary": "Return all resources",
              "security": [
                {
                  "BearerAuth": []
                }
              ],
              "description": "Returns term codes for a student.",
              "responses": {
                "200": {
                  "headers": {
                    "X-Total-Count": {
                      "schema": {
                        "type": "integer"
                      },
                      "description": "Specifies the total number of resources that satisfy the query."
                    },
                    "X-Media-Type": {
                      "schema": {
                        "type": "string"
                      },
                      "description": "The full semantic version of the resource returned."
                    }
                  },
                  "description": "Success",
                  "content": {
                    "application/vnd.hedtech.integration.v1+json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/vnd.hedtech.integration.v1.0.0+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized"
                },
                "404": {
                  "description": "Resource not found"
                },
                "500": {
                  "description": "Server error, unexpected configuration or data",
                  "content": {
                    "application/vnd.hedtech.integration.errors.v2+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "parameters": [
                {
                  "schema": {
                    "type": "string"
                  },
                  "in": "header",
                  "name": "accept",
                  "description": "The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information. \n```\napplication/vnd.hedtech.integration.v1+json\n```\n",
                  "required": true
                },
                {
                  "schema": {
                    "type": "integer"
                  },
                  "in": "query",
                  "name": "limit",
                  "description": "The maximum number of resources requesting for this result set.",
                  "required": false
                },
                {
                  "schema": {
                    "type": "integer"
                  },
                  "in": "query",
                  "name": "offset",
                  "description": "The 0 based index for a collection of resources for the page requested.",
                  "required": false
                }
              ],
              "tags": [
                "stvndrfs"
              ]
            },
            "get": {
              "summary": "Return all resources",
              "security": [
                {
                  "BearerAuth": []
                }
              ],
              "description": "Returns a paged listing of all the resources in the system.",
              "responses": {
                "200": {
                  "headers": {
                    "X-Total-Count": {
                      "schema": {
                        "type": "integer"
                      },
                      "description": "Specifies the total number of resources that satisfy the query."
                    },
                    "X-Media-Type": {
                      "schema": {
                        "type": "string"
                      },
                      "description": "The full semantic version of the resource returned."
                    }
                  },
                  "description": "Success",
                  "content": {
                    "application/vnd.hedtech.integration.v1+json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/vnd.hedtech.integration.v1.0.0+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized"
                },
                "404": {
                  "description": "Resource not found"
                },
                "500": {
                  "description": "Server error, unexpected configuration or data",
                  "content": {
                    "application/vnd.hedtech.integration.errors.v2+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "parameters": [
                {
                  "schema": {
                    "type": "string"
                  },
                  "in": "header",
                  "name": "accept",
                  "description": "The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information. \n```\napplication/vnd.hedtech.integration.v1+json\n```\n",
                  "required": true
                },
                {
                  "schema": {
                    "type": "integer"
                  },
                  "in": "query",
                  "name": "limit",
                  "description": "The maximum number of resources requesting for this result set.",
                  "required": false
                },
                {
                  "schema": {
                    "type": "integer"
                  },
                  "in": "query",
                  "name": "offset",
                  "description": "The 0 based index for a collection of resources for the page requested.",
                  "required": false
                }
              ],
              "tags": [
                "stvndrfs"
              ]
            }
          },
          "/x-student-term-codes/{id}": {
            "get": {
              "summary": "Return the requested resource",
              "security": [
                {
                  "BearerAuth": []
                }
              ],
              "description": "Return the one resource with the passed in identifier",
              "responses": {
                "200": {
                  "headers": {
                    "X-Media-Type": {
                      "schema": {
                        "type": "string"
                      },
                      "description": "The full semantic version of the resource returned."
                    }
                  },
                  "description": "Success",
                  "content": {
                    "application/vnd.hedtech.integration.v1+json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/json": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "application/vnd.hedtech.integration.v1.0.0+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized"
                },
                "404": {
                  "description": "Resource not found"
                },
                "500": {
                  "description": "Server error, unexpected configuration or data",
                  "content": {
                    "application/vnd.hedtech.integration.errors.v2+json": {
                      "schema": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "parameters": [
                {
                  "schema": {
                    "format": "GUID",
                    "type": "string",
                    "minimum": 1
                  },
                  "in": "path",
                  "name": "id",
                  "description": "A global identifier of Visa types for use in all external references",
                  "required": true
                },
                {
                  "schema": {
                    "type": "string"
                  },
                  "in": "header",
                  "name": "accept",
                  "description": "The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. \n```\napplication/vnd.hedtech.integration.v1+json\n```\n",
                  "required": true
                }
              ],
              "tags": [
                "termcode, sfrstcr"
              ]
            }
          }
        },
        "info": {
          "description": "A resource to represent information from table SORSCFD.",
          "title": "x-student-term-codes",
          "version": "1.0.0"
        }
      }
  auth: inherit

settings:
  encodeUrl: true
  timeout: 0
  followRedirects: true
  maxRedirects: 5
